{% block content %}


<header class="page-header">
    <nav class="navbar navbar-expand-lg" style="height: 50px;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-xl-9 col-lg-9 col-md-9 col-sm-9">
            
            <div class="half">
              <div class="profile-wrap">
            </ul>
            <div>
              
              
                  {% if user and user.id %}
                  <div class="profilee">
                    <div class="gallery_box">
                      <div class="col">
                          <a href="#">
                          </a>
                      </div>
                    </div>
                    <div class="pro_table2" id="hoverrr">
                      <ul>
                        <li><div class="user-name">{{user.nick + '님'}}</div></li>
                        <li><a id="logout" href="/auth/logout" class="btn">로그아웃</a></li>
                        <li><a href="/alllist" class="btn">전체상품</a></li>
                        <li><a href="/board" class="btn">게시판</a></li>
                        <li><a id="my-profile" href="/profile" class="btn">마이페이지</a></li>
                        <li><a href="/changeinfo" class="btn">회원정보 변경</a></li>
                        {% if user.id < 5%}
                        <li><a id="catlist" href="/catlist" class="btn">관리자모드</a></li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                  <input id="my-id" type="hidden" value="{{user.id}}">
                </div>
          </div>
        </div>
      </nav>

    
      <!-- 팝업 될 곳 -->
      <div class="light_box">

          <a href="/" class="xx" style="color: white; 
  float: right;
  font-size: 80px;
  margin-right: 50px;">X</a>
        <div class="containerrr">

          <form autocomplete="off" class="formm" id="hashtag-form" action="/search/hashtag">
            <div class="finder">
              <div class="finder__outer">
                <div class="finder__inner">
                  <div class="finder__icon" ref="icon"></div>
                  <input class="finder__input" type="text" name="hashtag" />
                  <button class="btn ser_btn">검색</button>
                  
                </div>
              </div>
            </div>
            
          </form>
        </div>

      </div>

    </header>

   
{% endblock %}