<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
   
    
            
        <div class="limiter">
            <div class="container-login100">
                <div class="login100-more" style="background-image: url('/show2.gif');">
                   
                    <a href="/"><h3 class="showtext"> N O C A P SHOWCASE #117 </h3></a>
                    
                </div>
    
                <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                    <form class="login100-form validate-form" id="login-form" action="/auth/login" method="post">
            
                        <div class="wrap-input100 validate-input input-group" data-validate = "Valid email is required: ex@abc.xyz">
                            <span class="label-input100" for="email">Email</span>
                            <input class="input100" id="email" type="email" name="email" placeholder="Email addess...">
                            <span class="focus-input100"></span>
                        </div>
    
                        <div class="wrap-input100 validate-input input-group" data-validate = "Password is required">
                            <span class="label-input100 passw" for="password">Password</span>
                            <input class="input100" id="password" type="password" name="password" placeholder="*************">
                            <span class="focus-input100"></span>
                        </div>
    
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" id="login" type="submit" class="btn">
                                    LOGIN
                                </button>
                            </div>
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
</body>
</html>